<?xml version="1.0"?>
<launch>

  <arg name="model" default="burger"/>
  
  <arg name="x_pos" default="2.2"/>
  <arg name="y_pos" default="5.3"/>
  <arg name="z_pos" default="0.0"/>

  <arg name="headless"/>
  <arg name="gui"/>

  <!-- We use empty_world.launch to start gazebo, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="false" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(find turtlebot3_rl)/world/course.world" />
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_rl)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y 0 -param robot_description" />
  
  <rosparam command="load"
            file="$(find turtlebot3_rl)/config/joints.yaml" />
  
  
</launch>


